@import "tailwindcss";

@theme inline {
  --font-serif: var(--font-libre-baskerville-serif);
}

@theme {
  --spacing: 8px;
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
  --color-grey-100: "#F3F3F3";
  --color-grey-150: "#E5E5E5";
  --color-grey-200: "#D8D8D8";
  --color-grey-400: "#7D7D7D";
}

body {
  font-family: var(--font-serif), serif;
  font-size: 16px;
}

@utility text-preset-1 {
  font-size: clamp(6.25rem, calc(4.049rem + 9.39vw), 12.5rem);
  font-weight: bold;
  line-height: 1;

  @media screen and (min-width: var(--breakpoint-desktop)) {
    line-height: 1.15;
    letter-spacing: -0.2px;
  }
}

@utility text-preset-2 {
  font-size: clamp(1.5rem, calc(0.796rem + 3.005vw), 3.5rem);
  font-weight: bold;
  line-height: 1.25;

  @media screen and (min-width: var(--breakpoint-desktop)) {
    line-height: 1.15;
  }
}

@utility text-preset-3 {
  font-size: clamp(0.88rem, calc(0.787rem + 0.376vw), 1.13rem);
  font-weight: bold;
  line-height: 2;
  letter-spacing: -0.25px;

  @media screen and (min-width: var(--breakpoint-desktop)) {
    line-height: 1.25;
    letter-spacing: 0;
  }
}

@utility text-preset-4 {
  font-size: clamp(0.63rem, calc(0.515rem + 0.469vw), 0.94rem);
  font-weight: normal;
  line-height: 1.2;

  @media screen and (min-width: var(--breakpoint-desktop)) {
    line-height: 1.35;
  }
}

@utility text-preset-5 {
  font-size: clamp(0.56rem, calc(0.474rem + 0.376vw), 0.81rem);
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 2px;

  @media screen and (min-width: var(--breakpoint-desktop)) {
    line-height: 1.25;
    letter-spacing: 0;
  }
}

@utility text-preset-6 {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 2.5px;
}

@utility text-preset-7 {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 2px;
}
